.is-on{
  ion-card-content, ion-card-header, ion-grid{
    background-color: var(--ion-color-secondary-light);
  }
}

.is-off{
  ion-card-content, ion-card-header, ion-grid{
    background-color: #ffeeee;
  }
}
