<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()" color="primary">Fermer</ion-button>
        </ion-buttons>
        <ion-title>{{ book.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card [ngClass]="{'is-on': book.lend, 'is-off': !book.lend}">
        <ion-card-header>
            {{ book.title }}
        
        
        </ion-card-header>
        <ion-card-content>
            <ion-label icon-start>
                <ion-icon name="person"></ion-icon>
                
                {{ book.author }}
            </ion-label>
            <p *ngFor="let line of book.description">{{ line }}</p>
        </ion-card-content>
    </ion-card>
    
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button
                        expand="full"
                        color="danger"
                        [disabled]="!book.lend"
                        (click)="onLendBook()">Recuperer
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button
                        expand="full"
                        color="secondary"
                        [disabled]="book.lend"
                        (click)="onLendBook()">Louer
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
