<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="onToggleMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Les Livres</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Ici la liste des livres</p>
    <ion-list>
        <ion-item
                icon-start
                button
                detail
                *ngFor="let book of bookList; let i = index"
                (click)="onLoadBook(i)"
                color="{{ book.lend ? 'secondary' : 'medium' }}"
                >
            <!--<ion-label>-->
                <ion-icon name="book" ></ion-icon>
    
                {{ book.title }}
            <!--</ion-label>-->
        </ion-item>
    </ion-list>
    

</ion-content>

<ion-footer slot="bottom">
    <p>Bas de page de Livre</p>
</ion-footer>
