<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" color="primary">Fermer</ion-button>
    </ion-buttons>
    <ion-title>{{ cd.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': cd.lend, 'is-off': !cd.lend}">
    <ion-card-header>
      {{ cd.title }}
    
    
    </ion-card-header>
    <ion-card-content>
      <ion-label icon-start>
        <ion-icon name="person"></ion-icon>
        
        {{ cd.actor }}
      </ion-label>
      <p *ngFor="let line of cd.content">{{ line }}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button
                expand="full"
                color="danger"
                [disabled]="!cd.lend"
                (click)="onLendCd()">Recuperer
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
                expand="full"
                color="secondary"
                [disabled]="cd.lend"
                (click)="onLendCd()">Louer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
