<ion-tabs appSwipetab
          (ionTabsDidChange)="ionTabsDidChange($event)"
          (tabChange)="onTabChange($event)"
          #myTabs
>
  
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="book-list">
      <ion-icon name="book"></ion-icon>
      Livres
    </ion-tab-button>
  
    <ion-tab-button tab="cd-list">
      <ion-icon name="book"></ion-icon>
      Cd
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>