<ion-app>
  <ion-menu menuId="content" side="start" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Basic Application</ion-title>
      </ion-toolbar>
      
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item icon-start (click)="onNavigate('tabs')">
          <ion-icon name="book"></ion-icon>
          Livres
        </ion-item>
        <ion-item icon-start (click)="onNavigate('settings')">
          <ion-icon name="settings"></ion-icon>
          Reglages
        </ion-item>
      
      </ion-list>
    </ion-content>
    
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
