<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Les Cd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Ici la liste des CD</p>
  <ion-list>
    <ion-item
            icon-start
            button
            detail
            *ngFor="let cd of cdList; let i = index"
            (click)="onLoadCd(i)"
            color="{{ cd.lend ? 'secondary': 'medium' }}">
      <ion-icon name="disc"></ion-icon>
      {{ cd.title }}
    
    </ion-item>
  </ion-list>
  
 
</ion-content>


<ion-footer slot="bottom">
  <p>Bas de page de CD</p>
</ion-footer>
