<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Reglages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>
    Faites vos reglages Ici !
  </p>

</ion-content>
